.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  flex: 1 1 0;
  gap: 60px;
}

.text {
  font-family: var(--second-family);
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
